@page "/"
@using Microsoft.EntityFrameworkCore
@using grejzor.Database
@using grejzor.Core
@inject BorrowService BS

<PageTitle>Home</PageTitle>

<h1>List of Grejzor!</h1>



<table>
    <tr>
        <th>Grej</th>
        <th>Tillgänglighet</th>
    </tr>
    @if (items != null)
    {
        @foreach (var item in items)
        {
            <tr>
                <td><a href="items/@item.Key.Id">@item.Key.Name</a></td>
                <td>@item.Value</td>
            </tr>
        }
    }
</table>

@code{
    Dictionary<Item, string>? items = null;
    
    protected override async Task OnInitializedAsync()
    {
        items =  await BS.GetAllItemsAsync();
    }
}