@page "/"
@using Microsoft.EntityFrameworkCore
@using grejzor.Database
@using grejzor.Core
@inject BorrowService BS

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table>
    <tr>
        <th>Grej</th>
        <th>Tillgänglighet</th>
    </tr>
    @if (items != null)
    {
        @foreach (var item in items)
        {
            <tr>
                <td><a href="@item.Key.Id">@item.Key.Name</a></td>
                <td>@item.Value</td>
            </tr>
        }
    }
</table>

@code{
    Dictionary<Item, string> items = null;
    
    protected override async Task OnInitializedAsync()
    {
        items = BS.GetAllItems();
    }
}