@page "/items/{id:int}"
@using grejzor.Database
@using grejzor.Core
@inject BorrowService borrowService
@rendermode InteractiveServer

@if (item is not null)
{
    <h2>@item.Name</h2>
    <h4>Status: ???</h4>
    <p>@item.Description</p>
}

<input type="text" @bind="name" />
<button @onclick="UpdateText">Borrow</button>

@if(hasRequested && requests != null)
{
    <p>tjena @name</p>

    <ul>
        <li>listan:</li>
    @foreach(var r in requests)
    {
       <li>@r.Borrower</li> 
    }
    </ul>
}

@code {
    [Parameter] public int Id {get; set;}

    Item? item = null;
    private string name = string.Empty;
    private bool hasRequested = false;
    List<BorrowRequest>? requests;
    private async void UpdateText()
    {
        hasRequested = await borrowService.CreateBorrowRequest(Id, name);
        name = "";

        requests = await borrowService.GetAllBorrowRequestsAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        item = await borrowService.GetItemById(Id);
    }
}
